# 가상환경 폴더 제외
venv/

# docker file 제외
backend/dockerfile

# firebase credential.json SECRET_KEY
# backend/lovegot-d8943-firebase-adminsdk-fbsvc-9fad212f78.json
backend/service_account.json

# Flutter (frontend gitignore integration)

# 이미지 관련
/frontend/assets/images/
*.png
!frontend/assets/images/*.png
*.jpg
!frontend/assets/images/*.jpg
*.jpeg
!frontend/assets/images/*.jpeg
*.gif
!frontend/assets/images/*.gif
*.svg
!frontend/assets/images/*.svg
/frontend/assets/images/

# macOS system files
.DS_Store
**/.DS_Store
